.blogPost {
    padding: 0px;
    max-width: 700px;
    transition: background-color 0.3s ease-in-out;
    margin-right: 0px;
}

.blogContainer {
    padding: 25px;
    padding-top: 0;
    position: relative;
}
.userInfo {
    top: 60px;
    position: absolute;
    background-color: var(--var-main-color);
    color: var(--var-main-text-color);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: solid 1px var(--var-border-color);
    transition-property: color background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    padding: 15px 20px 15px 20px;
    font-size: 10pt;
}
.userInfo span {
    display: flex;
}
.userInfo img {
    border-radius: 20px;
}
.userInfo span a:nth-child(n+2){
    margin-left: 10px;
}
.userInfo span:nth-child(2) {
    margin-top: 10px;
}
.userInfo span:nth-child(3) {
    margin-top: 5px;
}
.userInfo a {
    margin: 0;
}

.h2AndExports {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.exportBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 15pt;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
}
.exportBtn p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder {
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}
.holder.dark {
background-color: #000;
}
.holder.light {
    background-color: #fff;
}
.blogPost.dark {
    --var-border-color: rgb(46, 46, 46);
    --var-heads-color: rgb(220, 220, 220);
    --var-title-color: rgb(255,255,255);
    --var-tag-color: rgb(30, 30, 30);
    background-color: #000;
    --var-main-color: #000;
    --var-main-text-color: rgb(139, 139, 139);

    /* codes */
    --var-bg-color: rgba(255,255,255,0.11);
    --var-dt-color: #fff;
        
}


.blogPost.light {
    --var-border-color: rgb(188, 188, 188);
    --var-heads-color: rgb(55, 55, 55);
    --var-title-color: rgb(0, 0, 0);
    --var-tag-color: rgb(235, 235, 235);
    background-color: #fff;
    --var-main-color: #fff;
    --var-bg-color: rgba(0,0,0,.07);
    --var-dt-color: #000;
    --var-main-text-color: rgb(89, 89, 89);

}

.navBar {
    transition-property: border background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    position: fixed;
    top: 100px;
    right: 50px;
    display: flex;
    flex-direction: column;
    border-left: solid 2px var(--var-border-color);
    padding-left: 10px;
    background-color: var(--var-main-color);
}

.navBar .item {
    font-size: 9pt;
    width: 200px;
    overflow: hidden;
    color: var(--var-heads-color);
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    margin: 10px 0px 10px 0px;
    user-select: none;
    cursor: pointer;
    text-overflow: ellipsis;
}
.navBar .item.active {
    background-color: var(--var-bg-color);
}

.article {
    line-height: 30px;
    color: var(--var-main-text-color);
    font-size: 13pt;
    
}

.article code {
    background-color: var(--var-bg-color);
    font-size: 11pt;
    padding: 2px 6px;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
    border: solid 1px var(--var-border-color);

}

.article img {
    width: 100%;
    border-radius: 5px;
}

.article h1 {
    font-size: 20pt;
    color: var(--var-heads-color);
}
.article h2 {
    font-size: 18pt;
    color: var(--var-heads-color);
    transition: color 0.3s ease-in-out;
    scroll-margin: 70px;
}

.article blockquote {
    border-left: solid 2px var(--var-main-text-color);
    margin-left: 20px;
    padding-left: 20px;
    transition: border 0.3s ease-in-out;
}

.userBox {
    transition-property: border;
    transition-timing-function :ease-in-out;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    width: 130px;
    height: 50px;
    justify-content: space-evenly;
    border-radius: 30px;
    margin-left: 0px;
    border: solid 1px var(--var-border-color);
}

.userBox p {
    font-size: 10pt;
    color: var(--var-main-text-color);
    margin-right: 5px;
    width: 61px;
}

.userBox img {
    border-radius: 17px;
    
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 110px;
    color: var(--var-title-color);
}


.heading .prehead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    flex-direction: row;
    transition: color 0.3s ease-in-out;
}

.tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.tags .tag {
    color: var(--var-title-color);
    padding: 10px 20px 10px 20px;
    font-size: 9pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    background-color: var(--var-tag-color);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.prehead p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading p {
    color: var(--var-heads-color);
    transition: color 0.3s ease-in-out;
}

.heading h1 {
    font-size: 30pt;
    text-align: center;
    color: var(--var-title-color);
    transition: color 0.3s ease-in-out;
}
@media(min-width: 1600px){
    .blogPost {
        max-width: 800px;
    }
}
@media(min-width: 1800px){
    .blogPost {
        max-width: 900px;
    }
}

@media(max-width: 1200px) {
    .blogPost {
        margin-right: 80px;
    }
}

@media(max-width: 1150px){
    .navBar {
        display: none;
    }
    .blogPost{
        margin-right: 0px;
    }
}

@media(max-width: 700px) {
    .heading h1 {
        font-size: 25pt;
    }
}

@media(max-width: 500px) {
    .heading h1 {
        font-size: 21pt;
    }
}